@font-face {
  font-family: "iconfont1"; /* Project id 2818396 */
  src: url('iconfont.woff2?t=1685760199647') format('woff2'),
       url('iconfont.woff?t=1685760199647') format('woff'),
       url('iconfont.ttf?t=1685760199647') format('truetype');
}

.iconfont {
  font-family: "iconfont1" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon1-yue:before {
  content: "\faf6";
}

.icon1-daifahuo:before {
  content: "\faf7";
}

.icon1-daishouhuo:before {
  content: "\faf8";
}

.icon1-huiyuanka:before {
  content: "\faf9";
}

.icon1-fapiao:before {
  content: "\fafa";
}

.icon1-yaoqing:before {
  content: "\fafb";
}

.icon1-dianzan:before {
  content: "\fafc";
}

.icon1-gaishuai:before {
  content: "\fafd";
}

.icon1-lvyou:before {
  content: "\fafe";
}

.icon1-baojian:before {
  content: "\fb01";
}

.icon1-xiuxian:before {
  content: "\fb03";
}

.icon1-licai:before {
  content: "\fb05";
}

.icon1-tongzhuang:before {
  content: "\fb06";
}

.icon1-youle:before {
  content: "\fb09";
}

.icon1-liangyou:before {
  content: "\fb0a";
}

.icon1-dingding:before {
  content: "\fb0d";
}

.icon1-jiushui1:before {
  content: "\fb0e";
}

.icon1-zixun:before {
  content: "\fb11";
}

.icon1-tiaokong:before {
  content: "\fb13";
}

.icon1-hongbao1:before {
  content: "\fb1a";
}

.icon1-jingxuan:before {
  content: "\fb1d";
}

.icon1-muying:before {
  content: "\fb1e";
}

.icon1-toutiao:before {
  content: "\fb21";
}

.icon1-baomi:before {
  content: "\fb23";
}

.icon1-nvzhuang:before {
  content: "\fb26";
}

.icon1-jiaju:before {
  content: "\fb28";
}

.icon1-zhongbiao:before {
  content: "\fb2a";
}

.icon1-chakanbingli:before {
  content: "\fb2b";
}

.icon1-yexiao:before {
  content: "\fb2d";
}

.icon1-chuyi:before {
  content: "\fb2e";
}

.icon1-faxian:before {
  content: "\fb2f";
}

.icon1-huore:before {
  content: "\fb30";
}

.icon1-tixing:before {
  content: "\fb31";
}

.icon1-zhishi:before {
  content: "\fb32";
}

.icon1-zhuti:before {
  content: "\fb33";
}

.icon1-cetizhong:before {
  content: "\fb34";
}

.icon1-quanzi:before {
  content: "\fb35";
}

.icon1-zixun1:before {
  content: "\fb36";
}

.icon1-naozhong:before {
  content: "\fb37";
}

.icon1-chanpin:before {
  content: "\fb40";
}

.icon1-tingchechang:before {
  content: "\fb4a";
}

.icon1-jingdian:before {
  content: "\fb54";
}

.icon1-zihangche:before {
  content: "\fb55";
}

.icon1-jisuan:before {
  content: "\fb5b";
}

.icon1-hangqing:before {
  content: "\fb5d";
}

.icon1-shipinliaotian:before {
  content: "\fb61";
}

.icon1-youxi2:before {
  content: "\fb64";
}

.icon1-yinle2:before {
  content: "\fb66";
}

.icon1-zhibo:before {
  content: "\fb67";
}

.icon1-dianshiju1:before {
  content: "\fb77";
}

.icon1-fenxiang:before {
  content: "\fb7d";
}

.icon1-jiance:before {
  content: "\fb8c";
}

.icon1-kaoqin:before {
  content: "\fb8d";
}

.icon1-wangluo:before {
  content: "\fb8f";
}

.icon1-yinshua:before {
  content: "\fb90";
}

.icon1-anquanzhongxin1:before {
  content: "\fb91";
}

.icon1-yingyong:before {
  content: "\fba9";
}

.icon1-baike:before {
  content: "\fbaa";
}

.icon1-fangchan:before {
  content: "\fbab";
}

.icon1-keji:before {
  content: "\fbaf";
}

.icon1-jiangxiang:before {
  content: "\fbb2";
}

.icon1-gongsi:before {
  content: "\fbb6";
}

.icon1-shuji:before {
  content: "\fbb7";
}

.icon1-jiabanshenqing:before {
  content: "\fbbe";
}

.icon1-wupinshenqing:before {
  content: "\fbbf";
}

.icon1-huiyishenqing:before {
  content: "\fbc1";
}

.icon1-lizhishenqing:before {
  content: "\fbc2";
}

.icon1-renlizhaopin:before {
  content: "\fbc3";
}

.icon1-yuangongpingji:before {
  content: "\fbd1";
}

.icon1-kefuguanli:before {
  content: "\fbd3";
}

.icon1-xihuan1:before {
  content: "\fbd6";
}

.icon1-daiban:before {
  content: "\fbe3";
}

.icon1-tianqi1:before {
  content: "\fbe5";
}

.icon1-xinyong:before {
  content: "\fbe7";
}

.icon1-shoucang1:before {
  content: "\fbf2";
}

.icon1-yanzheng:before {
  content: "\fbf3";
}

.icon1-shenghuo1:before {
  content: "\fbf9";
}

.icon1-gupiao1:before {
  content: "\fbfe";
}

.icon1-chongdianzhuang:before {
  content: "\fbff";
}

.icon1-hangkong:before {
  content: "\fc00";
}

.icon1-jiayou1:before {
  content: "\fc01";
}

.icon1-baogao:before {
  content: "\fc02";
}

.icon1-jingdian1:before {
  content: "\fc03";
}

.icon1-yiliao2:before {
  content: "\fc04";
}

.icon1-muying1:before {
  content: "\fc0e";
}

.icon1-feijipiao:before {
  content: "\fab0";
}

.icon1-kabao:before {
  content: "\fac0";
}

.icon1-waimai:before {
  content: "\fac1";
}

.icon1-lipin:before {
  content: "\fac8";
}

.icon1-qiche:before {
  content: "\fad2";
}

.icon1-shangou:before {
  content: "\fad3";
}

.icon1-shangcheng:before {
  content: "\fad6";
}

.icon1-elemo:before {
  content: "\fad8";
}

.icon1-meituan:before {
  content: "\fad9";
}

.icon1-xinxi:before {
  content: "\fadf";
}

.icon1-QQ:before {
  content: "\fae0";
}

.icon1-xinhao:before {
  content: "\faf0";
}

.icon1-banjiang:before {
  content: "\faf1";
}

.icon1-jiadian:before {
  content: "\faf2";
}

.icon1-miaosha:before {
  content: "\faf3";
}

