#ThoughtPage {
  padding: 0px 1.5%;
}
header {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
}
header ul {
  height: 60px;
  display: flex;
  box-shadow: 0 0 0 1px #eee;
  background: #fff;
  border-radius: 0 0 4px 4px;
  padding: 0px 20px;
  box-sizing: border-box;
}
header ul li {
  list-style: none;
  margin-right: 16px;
  height: 100%;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
}
header ul li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #252525;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}
header ul li a i {
  margin-right: 4px;
}
header ul li.active a {
  color: #00a1d6;
  border-bottom: 3px solid #00a1d6;
}
header ul li:nth-child(1) i {
  color: #00c091;
}
header ul li:nth-child(2) i {
  color: #fb7299;
}
header ul li:hover a {
  color: #00a1d6;
}
.body ul {
  list-style: none;
}
.body ul li {
  padding: 12px;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 8px;
}
