body {
  font-family: "黑体";
}
#ThoughtPage {
  padding: 0px 1.5%;
}
header {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
}
header ul {
  height: 60px;
  display: flex;
  box-shadow: 0 0 0 1px #eee;
  background: #fff;
  border-radius: 0 0 4px 4px;
  padding: 0px 20px;
  box-sizing: border-box;
}
header ul li {
  list-style: none;
  margin-right: 16px;
  height: 100%;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
}
header ul li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #252525;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}
header ul li a i {
  margin-right: 4px;
}
header ul li.active a {
  color: #00a1d6;
  border-bottom: 3px solid #00a1d6;
}
header ul li:nth-child(1) i {
  color: #00c091;
}
header ul li:nth-child(2) i {
  color: #fb7299;
}
header ul li:hover a {
  color: #00a1d6;
}
.body .EnterBlock {
  display: flex;
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 600px;
  flex-direction: column;
}
.body .EnterBlock textarea {
  flex-grow: 1;
  border: 1px solid #e5e9ef;
  background: #fff;
  font-size: 12px;
  border-radius: 4px;
  outline: none;
  padding: 5px;
}
.body .EnterBlock textarea:hover {
  border-color: #00a1d6;
}
.body .EnterBlock textarea:focus {
  border-color: #00a1d6;
}
.body .EnterBlock .EnterTools {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}
.body .EnterBlock .EnterTools .EnterEmontion {
  border: 1px solid #e5e9ef;
  background: #fff;
  border-radius: 15px;
  height: 26px;
  width: 60px;
  color: #999;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.25s;
  user-select: none;
}
.body .EnterBlock .EnterTools .EnterEmontion.active {
  border-color: #00a1d6;
  background: #00a1d6;
  color: #fff;
}
.body .EnterBlock .EnterTools .EnterEmontion:hover {
  border-color: #00a1d6;
  color: #00a1d6;
}
.body .EnterBlock .EnterTools .EnterButton {
  width: 66px;
  flex-shrink: 0;
  height: 26px;
  border: none;
  background: #00a1d6;
  margin-left: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s;
  user-select: none;
}
.body .EnterBlock .EnterTools .EnterButton:hover {
  opacity: 0.8;
}
.body .EnterBlock .EmotionList {
  background: #fff;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 0 11px 12px 0 rgba(106, 115, 133, 0.1);
  border-radius: 8px;
  border: 1px solid #E5E9EF;
}
.body .EnterBlock .EmotionList ul {
  list-style: none;
  display: flex;
}
.body .EnterBlock .EmotionList ul li {
  width: 62px;
  height: 24px;
  border: 1px solid #f2f2f2;
  cursor: pointer;
  color: #999;
  border-radius: 26px;
  font-size: 14px;
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s;
  user-select: none;
}
.body .EnterBlock .EmotionList ul li.active {
  border-color: #00a1d6;
  background: #00a1d6;
  color: #fff;
}
.body .EnterBlock .EmotionList ul li:hover {
  border-color: #00a1d6;
  background: #00a1d6;
  color: #fff;
}
.body .ThougthList {
  list-style: none;
}
.body .ThougthList .DateLi {
  padding-left: 15px;
}
.body .ThougthList .DateLi .DateLiTitle {
  padding: 10px;
  margin-left: -15px;
  margin-top: 30px;
  color: #00a1d6;
  font-weight: bold;
  font-size: 18px;
}
.body .ThougthList .DateLi .DateLiTitle .DateThoughtNumber {
  font-size: 12px;
  color: #fff;
  background: #00a1d6;
  border-radius: 3px;
  padding: 2px 5px;
  background: #fff;
  color: #999;
  font-weight: normal;
}
.body .ThougthList .DateLi li {
  padding: 12px;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 8px;
  display: flex;
  margin-right: 15px;
}
.body .ThougthList .DateLi li .ThoughtText {
  font-size: 14px;
  color: #252525;
  flex-grow: 1;
}
.body .ThougthList .DateLi li .thou_time {
  font-size: 12px;
  color: #999;
}
.body .ThougthList .DateLi li .DestoryThought {
  border: none;
  padding: 4px 6px;
  flex-shrink: 0;
  border-radius: 4px;
  background: red;
  color: #fff;
  transition: all 0.25s;
  opacity: 0.3;
  cursor: pointer;
}
.body .ThougthList .DateLi li .DestoryThought:hover {
  opacity: 1;
}
