#AffairPage{
    width:100%;
    max-width: 1200px;
    padding-top:40px;
    margin:0 auto;
    padding-bottom:150px;
}

.EnterBlock{
    width:100%;
    max-width: 600px;
    margin:0 auto;
    display:flex;
    .NewBlock{
        height:65px;
        flex-grow: 1;
        background-color:#fff;
        border-radius:4px;
        display:flex;
        flex-direction: column;
        padding:10px;
        box-sizing: border-box;
        // border:1px solid #e5e9ef;
        transition:all 0.25s;
        box-shadow: 2px 2px 15px 0 rgba(55,99,170,0.11), -8px -8px 20px 0 #fff;
        margin-right:12px;
        color:#98a3b7;
        &:hover{
            border-color:#98a3b7;
        }
        &:focus{
            border-color:#00a1d6;
        }
        .NewBlockName,
        .NewBlockDescribe{
            border:none;
            outline: none;
            background:transparent;
            color:#fff;
            color:#98a3b7;
        }
        .NewBlockName::placeholder,
        .NewBlockDescribe::placeholder{
            color:#eee;
            color:#98a3b7;
        }
        .NewBlockName{
            height:20px;
            flex-grow: 1;
            // margin-bottom:10px;
            font-size:18px;
            font-weight: bold;
            // background:tr
            // height:1
        }
        .NewBlockDescribe{
            flex-shrink: 0;
            height:14px;
            font-size:12px;
        }
    }
    .AddButton{
        width:40px;
        height:40px;
        margin-top:10px;
        button{
            width:100%;
            height:100%;
            background:transparent;
            border-radius:8px;
            // color:tomato;
            border:none;
            font-size:24px;
            display:flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            // opacity: 0.65;
            transition:all 0.25s;
            background:#fff;
            // border:2px solid #f6f7f9;
            box-shadow: 2px 2px 15px 0 rgba(55,99,170,0.11), -8px -8px 20px 0 #fff;
            &:hover{
                opacity: 1;
            }
        }
    }
}
.HistoryRecord{
    padding:5px;
    background:#fff;
    margin:10px 0px;
    margin-top:0px;
    display:flex;
    flex-wrap: wrap-reverse;
    @height:42px;
    flex-direction: row-reverse;
    align-content: flex-start;
    border-radius: 6px;
    box-shadow:0 4px 20px rgba(0,25,104,0.05);
    .HistoryBlock{
        width:@height;
        height:@height;
        margin:2px;
        border-radius: 7px;
        overflow: hidden;
        .HistoryDateNumber{
            width:100%;
            height:100%;
            display:flex;
            align-items: center;
            justify-content: center;
            font-size:14px;
            color:#999;
            // background:#fff;
            background:#f6f6f6;
            user-select: none;
            vertical-align: middle;
            cursor: pointer;
            transition: all 0.25s;
            // border:2px solid #00a0d6;
            box-sizing: border-box;
            flex-direction: column;
            .HistroyDateLength{
                font-weight: bold;
                font-size: 19px;
            }
            .HistroyDateIntraday{
                font-size:12px;
                opacity: 0.5;
                font-weight: bold;
            }
            &:not(.active):hover{
                opacity: 0.5;
                // background-color: #00a0d6;

            }
            &.plus5{
                color:gold;
                // border-color: gold;  
            }
            &.plus10{
                color:tomato;
                // border-color: tomato;
            }
            &.active{
                // box-shadow: 6px 0px 6px #666;
                // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                // border-color: #ccc !important;
                background:#333;
                .HistroyDateIntraday{
                    // color:#333;
                    opacity: 1;
                }
            }
        }
    }
}
.FinishBlock{
    max-width: 1200px;
    margin:0 auto;
    margin-top:25px;
    background:#fff;
    background:#f6f7f9; 
    box-shadow:inset 0px 0px 20px 0 rgba(55,99,170,0.11);
    border-radius: 6px;
    min-height: 400px;
    padding:15px;
    box-sizing: border-box;
    .FinishDay{

        text-align: center;
        // margin-bottom:10px;
        font-size:16px;
        // font-weight: bold;
        padding:14px 0px;
        padding-bottom:24px;

        .text{
            color:#98a3b7;
            background:#ffffff99;
            padding:10px;
            user-select: none;
            border-radius: 6px;
            overflow: hidden;
        }
    }
    .FinishRecordList{
        display:flex;
        flex-wrap: wrap;
        margin-right:-5px;
        padding:10px;
        padding-top:5px;
    }
    .FinishRecord{
        // background:#00a0d699;
        // border:2px solid #00a0d6;
        // color:#fff;
        background:#fff;
        color:#98a3b7;
        // border:1px solid rgba(157,173,193,.5);
        // background-image: linear-gradient(0deg,#fff,#f3f5f8);
        background:#fff;
        box-shadow: 2px 2px 15px 0 rgba(55,99,170,0.11), -8px -8px 20px 0 #fff;
        padding:10px;
        // height:34px;
        margin-right:12px;
        border-radius:6px;
        flex-direction: column;
        display:flex;
        margin-bottom:12px;
        flex-grow: 1;
        // min-width: 15%;
        width:20%;
        max-width: calc(25% - 14px);
        box-sizing: border-box;
        transition: all 0.25s;
        &:hover{
            .morePanel{
                opacity: 1 !important;
            }
            // .FinishRecordIcon{
            //     background:#eee !important;
            // }
            // .FinishRecordText{
            //     color:#252525;
            // }
            // background:#fff;
            // .RecordSentence{
            //     color:#252525;
            // }
        }
        .FinishRecordHeader{
            display:flex;
            .FinishRecordIcon{
                background:#fff;
                display:flex;
                justify-content: center;
                align-items: center;
                padding:2px;
                border-radius:6px;
                margin:4px;
                // margin-right:5px;
                flex-shrink: 0;
                .icon{
                    font-size:35px;
                }
            }
            .FinishRecordText{
                display:flex;
                flex-wrap: wrap;
                flex-direction: column;
                padding:5px;
                flex-grow: 1;
                .RecordName{
                    flex-grow: 1;
                    font-size: 14px;
                    letter-spacing: 1px;
                    user-select: none;
                }
                .RecordTime{
                    font-size:12px;
                    opacity: 0.6;
                    user-select: none;
                }
            }
        }
        .RecordSentence{
            padding:5px;
            font-size:13px; 
            // text-indent: 2em;
            // letter-spacing: 0.25px;
            transition: all 0.25s;
            cursor: pointer;
            // width:100%;
            // box-sizing: border-box;
            white-space: pre-wrap;
            // word-wrap: break-word;
        }
        .morePanel{
            opacity: 0;
            transition: all 0.25s;
            .button{
                transition:all 0.25s;
                background:#fff;
                line-height: 21px;  
                padding:5px;
                font-size:16px;
                width:20px;
                text-align: center;
                border-radius: 4px;
                // opacity: 0.5;
                cursor: pointer;
                color:#98a3b799;
                &:hover{
                    background:#f9f9f9;
                    // opacity: 1;
                    color:red;
                }
            }
            // height:21px;
        }
    }
}
.MyAffairBigBlock{
    background:#f6f7f9;
    box-shadow:inset 0px 0px 20px 0 rgba(55,99,170,0.11);
    border-radius: 6px;
    margin-top:40px;
}
.MyAffairCareer{
    // display:flex;
    display:flex;
    justify-content: center;
    align-items: center;
    // background:#000;
    padding:15px;
    // padding-bottom:5px;
    // border-radius: 6px;

    // border-bottom:2px solid #eee;

    .LabelName{
        margin-right:4px;
        font-size:13px;
        // opacity: 0.9;
        user-select: none;
        color:#999;
        color:#98a3b7;
        cursor: pointer;
        user-select: none;
    }
    .AllRecordLength,
    .AverageRecord,
    .AllAffairLength{
        padding:8px 16px;
        color:gold;
        background:#252525; 
        // background:#fff; 
        background-image: linear-gradient(to Right,#252525,#333);
        background-image: linear-gradient(to Right,#eee,#fff);
        background-image: linear-gradient(0deg,#fff,#f3f5f8);
        border-radius: 4px;
        font-size:27px;
        margin-right:16px;
        border:2px solid #fff;
        // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        box-shadow: 8px 8px 20px 0 rgb(55 99 170 / 10%), -8px -8px 20px 0 #fff;
        font-weight: bold;
        user-select: none;
    }
    .AverageRecord{
        margin:0px;
    }
    &>*{
        margin-top:-40px !important;
    }
}
.MyAffair{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    padding:20px;
    padding-top:0px;
    box-sizing: border-box;
    min-height: 300px;
    .NullBlockTip{
        flex-grow: 1;
        display:flex;
        justify-content: center;
        align-items: center;
        color:#98a3b7;
        font-size:20px;
        user-select: none;
    }
    .AffairLi{
        margin:12px;
        border-radius: 4px;
        background:#fff;
        box-shadow: 2px 2px 15px 0 rgba(55,99,170,0.11), -8px -8px 20px 0 #fff;
        // border:1px solid #e5e9ef;
        min-width:20%;
        flex-grow: 1;
        cursor: pointer;
        transition:all 0.25s;
        display:flex;
        transition:all 0.25s;
        border:2px solid transparent;
        width:20%;
        max-width: calc(25% - 24px - 4px);
        position: relative;
        // background:url(	https://cloudcache.tencent-cloud.com/open_proj/pro…tea-portal-material-portal/images/recom-bg5e7.jpg
        // ),linear-gradient(180deg,#f3f5f8,#fff 178px,#fff);
        // border:2px solid #fff;
        &.active{
        }
        &:hover{
            border-color:#00a0d6;

            .AffairText{
                // display:none;
                opacity: 0.25;
                .AffairLiName{
                    // display:none;
                }
                .AffairLiDescribe   {
                }
            }
            .AffairTools{
                // display:flex;
                opacity: 1 !important;
            }
        }
        .AffairIcon{
            font-size:40px;
            // color:#00a0d6;
            // margin-right:10px;
            width:50px;
            display:flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            // border:1px  solid #eee;

        }
        .AffairLevel{
            color:gold;
            // margin-left:4px;
            font-size:10px;
            padding:2px 4px;
            background:#252525;
            font-weight: normal;
            border-radius: 3px;
            position: absolute;
            transform: scale(0.8) translateX(-50%);
            left:23px;
            
            bottom:-8.5px;
        }
        .AffairText{
            flex-grow: 1;
            // margin-right:10px;
            padding:10px;
            padding-left:0px;
            opacity: 1;
            transition: all 0.25s;
            .AffairLiName{
                font-size:13px;
                color:#252525;
                font-weight: bold;
                user-select: none;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 190px;
            }
            .AffairLiDescribe{
                margin-top:2px;
                font-size:10px;
                color:#ccc;
                user-select: none;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: calc(100% - 60px);
                max-width: 190px;
            }
        }
        .AffairTools{
            flex-shrink: 0;
            // opacity: 0;
            display:flex;
            // display:none;
            align-items: center;
            margin-right:10px;
            justify-content: center;
            flex-grow: 1;
            position: absolute;
            // right:10px;
            // top:5px;
            width:100%;
            height:100%;
            opacity: 0;
            transition: all 0.25s;
            button{
                flex-shrink: 0;
                border:none;
                background:transparent;
                cursor: pointer;
                // padding:3x;
                color:#fff;
                // font-weight: bold;
                font-size:18px;
                display:flex;
                width:24px;
                height:24px;
                align-items: center;
                justify-content: center;
                margin-right:4px;
                border-radius: 3px;
                opacity: 0.4;
                transition:all 0.25s;
                &:hover{
                    opacity: 1;
                }
            }
            .AffairFinishButton{
                background:#00a0d6;
            }
            .AffairEditorButton{
                background:#E6A23C;
            }
        }
    }
}
.FinishRecordPush{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width:100vw;
    height:100vh;
    z-index: 999;
    background:#000000bb;
    display:flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    .PushAlert{
        width:100%;
        max-width: 600px;
        margin:0 auto;
        min-height:200px;
        background:#fff;
        border-radius: 6px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:20px;
        background: url(https://duvebe931qgtc.cloudfront.net/resources/images/sub/bg_allleague_sub.png) center center #fff no-repeat;
        background-size: 100% 100%;
        .PushRecordName{
            color:#252525;
            font-weight: bold;
            user-select: none;
        }
        .AffairLevel{
            color:gold;
            margin-left:4px;
            font-size:12px;
        }
        .PushRecordDescribe{
            color:#999;
            // font-weight: bold;
            font-size:12px;
            margin-bottom:10px;
            user-select: none;
            margin-bottom:15px;
        }
        .PushSentence{
            // height:40px;
            width:415px;
            height:150px;
            border-radius:6px;
            outline: none;
            border:none;
            padding:10px;
            font-size:26px;
            border:2px solid #eee;
            transition:all 0.25s;
            max-width: 90%;
            &:hover{
                border-color:#00a0d6
            }
            &:focus{
                border-color:#00a0d6
            }
            &::placeholder{
                color:#ccc;
            }
        }
        .SentenceThum{
            max-width: 450px;
            font-size:12px;
            color:#999;
            margin-top:5px;
        }
        .affirm,
        .cancel{
            width:100px;
            height:40px;
            margin:5px;
            margin-top:10px;
            border:none;
            color:#fff;
            font-size:16px;
            transition:all 0.25s;
            cursor: pointer;
            user-select: none;
            &:hover{
                opacity: 0.7;
            }
        }
        .affirm{
            background:#67C23A;
        }
        .cancel{
            background:#F56C6C;
        }
    }
}
.EditorAffairPanel{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width:100vw;
    height:100vh;
    z-index: 999;
    background:#000000bb;
    display:flex;
    align-items: center;
    justify-content: center;
    .PushAlert{
        width:100%;
        max-width: 600px;
        margin:0 auto;
        min-height:300px;
        background:#fff;
        border-radius: 6px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:20px;
        transition: all 0.25s;
        position: relative;
        .AffairIcon{
            margin-top:20px;
            font-size:45px;
            cursor: pointer;
            transition: all 0.25s;
            flex-shrink: 0;
            &:hover{
                opacity: 0.5;
            }
        }
        .IconList{
            width:418px;
            max-width: 90%;
            height:200px;
            overflow-y: scroll;
            display:flex;
            flex-wrap:wrap;
            margin-bottom:20px;
            border:1px solid #eee;
            border-radius:6px;
            padding:4px;
            .IconLI{
                width:34px;
                height:34px;
                box-sizing: border-box;
                display:flex;
                justify-content: center;
                align-items: center;
                font-size:30px;
                border:2px solid #fff;
                border-radius: 5px;
                margin:2px;
                transition: all 0.25s;
                &:hover{
                    border-color:#00a0d6;
                    cursor: pointer;
                }
            }
        }

        .PushRecordDescribe{
            color:#999;
            // font-weight: bold;
            font-size:12px;
            margin-bottom:10px;
            user-select: none;
            margin-bottom:15px;
        }
        .NewAffairName,
        .NewAffairDescribe{
            height:40px;
            border-radius:6px;
            width:400px;
            outline: none;
            border:none;
            padding:10px;
            font-size:26px;
            border:2px solid #eee;
            transition:all 0.25s;
            max-width: 90%;
            &:hover{
                border-color:#00a0d6
            }
            &:focus{
                border-color:#00a0d6
            }
            &::placeholder{
                color:#ccc;
            }
        }
        .NewAffairDescribe{
            margin-top:4px;
            height:26px;
            font-size:20px;
        }
        .SentenceThum{
            max-width: 450px;
            font-size:12px;
            color:#999;
            margin-top:5px;
        }
        .PushTools{
            // position: absolute;
            // transform:translateX(-50%);
            margin-top:15px;
            // margin-bottom:5px;
            .affirm,
            .cancel{
                width:80px;
                height:35px;
                margin:5px;
                margin-top:10px;
                border:none;
                color:#fff;
                font-size:16px;
                transition:all 0.25s;
                cursor: pointer;
                user-select: none;
                border-radius: 4px;
                &:hover{
                    opacity: 0.7;
                }
            }
            .affirm{
                background:#67C23A;
            }
            .cancel{
                background:#F56C6C;
            }
        }

    }
    .deleteButton{
        position: absolute;
        right:10px;
        top:10px;
        button{
            border:none;
            background:red;
            opacity: 0.5;
            border-radius: 6px;
            color:#fff;
            padding:6px 12px;
            cursor: pointer;
            transition: all 0.25s;
            &:hover{
                opacity: 1;
            }
        }
    }   
}
@media screen and (max-width : 600px) {
    .MyAffair{
        .AffairLi{
            flex-direction: column !important;
            padding:10px !important;
            .AffairText{
                padding:10px !important;
            }
        }
    }
    // body{
    //     max-width:99vw !important;
    // }
    .FinishRecord{
        width:100% !important;
        max-width: 100% !important;
    }
}
@media screen and (min-width : 1000px) {
    .AffairLi{
        // width:30% !important;
        // max-width: 33.3% !important;
    }
}