*{
    margin: 0;
    padding:0;
    outline: none;
}
// 苍耳云黑
@font-face{
    font-family: caner;
    src:url(./../assets/font/CangErJinKai01-9128-W04-5.otf);
}

// @font-face{
//     font-family: lanting;
//     src:url('./../assets/font/MILanProVF-Medium.ttf')
// }
@mainColor:#00a1d6;
body{
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    max-width: 1000px;
    margin:0 auto;
}
body::-webkit-scrollbar{
    // position: fixed;
    display:none;
    // right:3px;
    // top:0px;
}
@media screen and (min-width : 1000px) {
    body{
        max-width:100vw !important;
    }
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
#DataLife{
    height:100vh;
    display:flex;
    flex-direction: column;
    // width:100vw;
}
// 导航栏
#DataLifeNav{
    flex-shrink: 0;
    width:100%;
    height:60px;
    display:flex;
    justify-content: center;
    // box-shadow: 0 0 0 1px #eee;
    background:#fff;
    border-radius: 0 0 4px 4px;
    padding:0px 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 15px 0 rgba(55,99,170,0.05), -8px -8px 20px 0 #fff;
    a{
        margin-right:26px;
        width:75px;
        height:100%;
        text-align: center;
        font-size:16px;
        cursor: pointer;
        user-select: none;
        transition:all 0.3s;
        text-decoration: none;
        display:flex;
        justify-content: center;
        align-items: center;
        color:#98a3b7;
        box-sizing: border-box;
        // border-bottom:3px solid transparent;
        transition: all 0.3s;
        font-family: caner;
        i{
            vertical-align: top;
            margin-right: 2px;
            font-size: 24px;
        }
        &.router-link-active{
            color:#00a1d6;
            border-color:#00a1d6;
        }
        // &:nth-child(1) i{
        //     color:#00c091;
        // }
        // &:nth-child(2) i{
        //     color:#fb7299;
        // }
        // &:nth-child(3) i{
        //     color:#67C23A;
        // }
        // &:nth-child(4) i{
        //     color:#f3a034;
        // }
        &:hover{
            a{
                color:#00a1d6;
            }
            // font-size: 32px;;
            // opacity: 0.8;
        }
    }
}
// 移动端导航栏
#MobileDataLifeNav{
    flex-shrink: 0;
    width:100%;
    height:54px;
    display:flex;
    justify-content: center;
    background:#fff;
    border-radius: 0 0 4px 4px;
    padding:0px 20px;
    box-sizing: border-box;
    border-top:1px solid #eee;
    position: fixed;
    left:0;
    bottom:0;
    z-index: 999999999;
    font-family: caner;
    a{
        margin-right:16px;
        width:75px;
        height:100%;
        text-align: center;
        font-size:12px;
        cursor: pointer;
        user-select: none;
        transition:all 0.3s;
        text-decoration: none;
        display:flex;
        justify-content: center;
        align-items: center;
        color:#98a3b7;
        box-sizing: border-box;
        flex-direction: column;
        transition: all 0.3s;
        i{
            margin-bottom: 3px;
            font-size:26px;
        }
        &.router-link-active{
            color:#00a1d6;
            border-color:#00a1d6;
        }
        &.router-link-active i{
            color:#00a1d6;
        }
        &:hover{
            a{
                color:#00a1d6;
            }
        }
    }
}