#ThoughtPage {
  border: 1px solid transparent;
  padding-top: 40px;
  padding: 0px 1.5%;
  background: #f6f7f9;
  margin: 0 auto;
}
#ThoughtPage .EnterBlock {
  display: flex;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 40px;
  max-width: 600px;
  flex-direction: column;
}
#ThoughtPage .EnterBlock textarea {
  flex-grow: 1;
  border: 1px solid #e5e9ef;
  background: #fff;
  font-size: 12px;
  border-radius: 4px;
  outline: none;
  padding: 5px;
  transition: all 0.25s;
}
#ThoughtPage .EnterBlock textarea:hover {
  border-color: #00a1d6;
}
#ThoughtPage .EnterBlock textarea:focus {
  border-color: #00a1d6;
}
#ThoughtPage .EnterBlock .EnterTools {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}
#ThoughtPage .EnterBlock .EnterTools .EnterEmontion {
  border: 1px solid #e5e9ef;
  background: #fff;
  border-radius: 15px;
  height: 26px;
  width: 60px;
  color: #999;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.25s;
  user-select: none;
}
#ThoughtPage .EnterBlock .EnterTools .EnterEmontion.active {
  border-color: #00a1d6;
  background: #00a1d6;
  color: #fff;
}
#ThoughtPage .EnterBlock .EnterTools .EnterEmontion:hover {
  border-color: #00a1d6;
  color: #00a1d6;
}
#ThoughtPage .EnterBlock .EnterTools .EnterButton {
  width: 66px;
  flex-shrink: 0;
  height: 26px;
  border: none;
  background: #00a1d6;
  margin-left: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s;
  user-select: none;
}
#ThoughtPage .EnterBlock .EnterTools .EnterButton:hover {
  opacity: 0.8;
}
#ThoughtPage .EnterBlock .EmotionList {
  background: #fff;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 0 11px 12px 0 rgba(106, 115, 133, 0.1);
  border-radius: 8px;
  border: 1px solid #E5E9EF;
}
#ThoughtPage .EnterBlock .EmotionList ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
#ThoughtPage .EnterBlock .EmotionList ul li {
  width: 62px;
  height: 24px;
  border: 1px solid #f2f2f2;
  cursor: pointer;
  color: #999;
  border-radius: 26px;
  font-size: 14px;
  margin-right: 6px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s;
  margin-bottom: 5px;
}
#ThoughtPage .EnterBlock .EmotionList ul li.active {
  border-color: #00a1d6;
  background: #00a1d6;
  color: #fff;
}
#ThoughtPage .EnterBlock .EmotionList ul li:hover {
  border-color: #00a1d6;
  background: #00a1d6;
  color: #fff;
}
#ThoughtPage .ThougthList {
  list-style: none;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 20px;
}
#ThoughtPage .ThougthList .DateLi {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 8px;
  padding: 16px 24px;
  margin-top: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.02);
  box-sizing: border-box;
}
#ThoughtPage .ThougthList .DateLi .DateLiTitle {
  padding-bottom: 12px;
  font-size: 20px;
  user-select: none;
  color: #ddd;
}
#ThoughtPage .ThougthList .DateLi .DateLiTitle .DateThoughtNumber {
  font-size: 12px;
  color: #fff;
  background: #00a1d6;
  border-radius: 3px;
  padding: 2px 5px;
  background: #fff;
  color: #ccc;
  user-select: none;
  font-weight: normal;
}
#ThoughtPage .ThougthList .DateLi .CurrentDateList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#ThoughtPage .ThougthList .DateLi .ThougthLi {
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  margin-right: 10px;
  width: 30%;
  max-width: 50%;
  box-sizing: border-box;
  flex-grow: 1;
  border: 2px solid #eee;
  transition: all 0.25s;
}
#ThoughtPage .ThougthList .DateLi .ThougthLi:hover {
  border-color: #00a1d6;
}
#ThoughtPage .ThougthList .DateLi .ThougthLi .ThoughtMain {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#ThoughtPage .ThougthList .DateLi .ThougthLi .ThoughtMain .ThoughtText {
  font-size: 13px;
  color: #252525;
  white-space: pre-wrap;
  letter-spacing: -0.5px;
  flex-grow: 1;
}
#ThoughtPage .ThougthList .DateLi .ThougthLi .ThoughtMain .ThoughtText::selection {
  background: #00a1d6;
  color: #fff;
}
#ThoughtPage .ThougthList .DateLi .ThougthLi .ThoughtMain .ThoughtText::first-letter {
  padding-right: 2px;
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
}
#ThoughtPage .ThougthList .DateLi .ThougthLi .ThoughtMain .ThoughtDetails {
  flex-shrink: 0;
  padding-top: 5px;
  display: flex;
  margin-top: 6px;
}
#ThoughtPage .ThougthList .DateLi .ThougthLi .ThoughtMain .ThoughtDetails .ThoughtEmotion {
  width: 30px;
  height: 20px;
  cursor: pointer;
  color: #999;
  border-radius: 26px;
  font-size: 12px;
  margin-right: 6px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #00a1d666;
  color: #fff;
  color: #00a1d6;
  line-height: 20px;
}
#ThoughtPage .ThougthList .DateLi .ThougthLi .ThoughtMain .ThoughtDetails .thou_time {
  flex-grow: 1;
  line-height: 20px;
  font-size: 12px;
  color: #ccc;
  user-select: none;
}
#ThoughtPage .ThougthList .DateLi .ThougthLi .ThoughtMain .ThoughtDetails .DestoryThought {
  border: none;
  flex-shrink: 0;
  border-radius: 4px;
  background: rgba(255, 0, 0, 0.5);
  color: #fff;
  transition: all 0.25s;
  cursor: pointer;
  width: 40px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  user-select: none;
}
#ThoughtPage .ThougthList .DateLi .ThougthLi .ThoughtMain .ThoughtDetails .DestoryThought:hover {
  background: #ff0000;
}
#ThoughtPage .ThougthList .DateLi .ThougthLi:hover .DestoryThought {
  display: flex !important;
}
