<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>感想</title>
    <link rel="stylesheet" href="./css/Global.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
    <div id="ThoughtPage">
        <header>
            
            <ul>
                <li><a href=""><i class="el-icon-s-home"></i>主页</a></li>
                <li class="active"><a href=""><i class="el-icon-s-opportunity"></i> 感语</a></li>
            </ul>
        </header>
        <div class="body">
            <div class="EnterBlock">
                <textarea v-model="writeText" cols="30" rows="6" style="resize:none" placeholder="一个事物也许不止一种看法呢......" ></textarea>
                <div class="EnterTools">
                    <button class="EnterEmontion">{{thoughtEmotion.name}}</button>
                    <button class="EnterButton" @click="writeThou">记录</button>
                </div>
            </div>
            <ul class="ThougthList">
                <div class="DateLi" v-for="(item,key) in dateList" :key="key">
                    <p class="DateLiTitle">{{item.dateString}} <span class="DateThoughtNumber">{{item.thoughtList.length}} 感悟</span></p>
                    <li v-for="(li,key) in item.thoughtList" :key="key">
                        {{li.text}}
                        <!-- <span class="thou_time">{{getDateString(FormatDate(li.time))}}</span> -->
                    </li>
                </div>
            </ul>
        </div>
        <footer></footer>
    </div>
    <script src="./js/ToolsFunction.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./js/page_thought.js"></script>
    <script src="./js/Class.js"></script>
    <script src="./js/DB.js"></script>
</body>
</html>