@import url("./../../App.less");

#AffairPage{
    width:100%;
    margin:0 auto;
    display:flex;
    flex-direction: row;
    // max-height: calc(100vh-50px);
    overflow: hidden;
    height:100%;
    align-items: center;
}
.PageCore{
    width:100vw;
    min-width: 1000px;
    overflow: hidden;
    margin:0 auto;
    display:flex;
}
.MyAffairBigBlock{
    background:#f6f7f9;
    border-right:1px solid #d8dee4;
    overflow: hidden;
    width:30%;
    flex-grow: 1;
    max-width: 460px;
    box-sizing: border-box;
    min-width: 300px;
    .AffairListTools{
        display:flex;
        height:40px;
        line-height: 39px;
        background:#fff;
        border-bottom:1px solid #d8dee4;
        box-sizing: border-box;
        padding:0px 25px;
        justify-content: space-between;
        .CreateAffair,
        .AllAffairList{
            font-size:14px;
            color:#98a3b7;
            cursor: pointer;
            user-select: none;
            transition:all 0.25s;
            display:flex;
            justify-content: center;
            align-items: center;
            i{
                font-size:20px;
                margin-right: 3px;
                margin-top:-2px;
            }
            &:hover{
                color:#205295;
            }
        }
    }
}
.MyAffair{
    width:100%;
    // display:flex;
    flex-wrap: wrap;
    padding:12px;
    padding-top:0px;
    flex-grow: 0;
    box-sizing: border-box;
    min-height: 300px;
    overflow: auto;
    max-height: calc(100vh - 90px);
    height:100%;
    &::-webkit-scrollbar{
        overflow: hidden;
        width:0px;
    }
    .NullBlockTip{
        width:100%;
        height: 100%;
        flex-grow: 1;
        display:flex;
        justify-content: center;
        align-items: center;
        color:#98a3b7;
        font-size:20px;
        user-select: none;
        flex-direction: column;
        opacity: 0.5;
        i{
            font-size:100px;
        }
        
    }

}