@import url("./../../App.less");

#SignPage{
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background:#f6f7f9; 
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    .backgroundLogo{
        // width:100%;
        overflow: hidden;
        position: absolute;
        top:30%;
        left:50%;
        transform: translateX(-50%) ;
        font-size:500px;
        // line-height: 500px; 
        // height: 500px;
        color:@mainColor;
        user-select: none;
        font-weight: bold;
        z-index:1;
        transition:all 0.5s;
        text-align: center;
        opacity: 0.1;
    }
    &.onSign{
        .backgroundLogo{
            position: absolute;
            top:-30% !important;
            left:-30% !important;
            transform: rotate(-360deg);
            font-size:800px;
            opacity: 0.05;
        }
    }
}


.appear-enter-active {
    animation: appear-in ease-out .5s ;
    // z-index: 99999;
}
.appear-leave-active {
    animation: appear-in ease-out .5s reverse;
}
@keyframes appear-in {
    0% {
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        top:200px;
        opacity: 0;
        z-index: -999;
    }
    100% {
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        top:0px;
        opacity: 1;
        z-index: 999;
    }
}