@import url("./../../App.less");
// 页面主体
#ThoughtPage{
    box-sizing: border-box;
    margin:0 auto;
    width:100%;
    background:#fff;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    .Header{
        padding-top:40px;
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // background:#f6f7f9;
        background:#f6f7f9;
        padding:20px 0px;
    }
    // 输入板块
    .EnterBlock{
        width:600px;
        display:flex;
        margin:0 auto;
        margin-bottom:15px;
        margin-top:20px;
        max-width: 600px;
        flex-direction: column;
        flex-shrink: 0;
        position: relative;
        textarea{
            flex-grow: 1;
            border:2px solid rgba(55,99,170,0.1);
            background:#fff;
            font-size:15px;
            border-radius:8px;
            outline: none;
            padding:8px;
            transition:all 0.25s;
            font-family: caner;
            height:100px;
            padding-bottom:38px;
            &::placeholder{
                color:#98a3b7;
            }
            &:hover{
                border-color:@mainColor;
            }
            &:focus{
                border-color:@mainColor;
                // height:200px;
            }
        }
        .EnterTools{
            padding-top:8px;
            display:flex;
            // justify-content: space-between;
            justify-content: flex-end;
            position: absolute;
            right:6px;
            bottom:6px;
            .EnterEmontion{
                border:2px solid rgba(55,99,170,0.1);
                background:#fff;
                border-radius:24px;
                height:34px;
                padding:0px 18px;
                color:#999;
                font-size:14px;
                cursor: pointer;
                transition:all 0.25s;
                user-select: none;
                font-family: caner;
                &.active{
                    border-color:@mainColor;
                    color:@mainColor;
                }
                &:hover{
                    border-color:@mainColor;
                    color:@mainColor;
                }
            }
            .EnterButton{
                width:90px;
                flex-shrink: 0;
                height:30px;
                font-family: caner;
                border:none;
                background:@mainColor;
                margin-left:10px;
                color:#fff;
                cursor:pointer;
                transition: all 0.25s;
                font-size: 14px;
                user-select: none;
                border-radius: 24px;
                display:flex;
                justify-content: center;
                align-items: center;
                i{
                    margin-right: 2px;
                }
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
    // 历史短文列表
    .ThougthList{
        list-style: none;
        width: 600px;
        margin:20px auto;
        flex-grow: 1;
        padding-bottom:20px;
        display:flex;
        justify-content: center;
        flex-direction: column;
        // flex-wrap: wrap;
        align-items: center;

        .DateLi{
            width:100%;
            // min-width: 30%;
            flex-direction: row;
            flex-wrap: wrap;
            background:#fff;
            border-radius: 12px;
            padding:14px;
            margin-bottom:40px;
            background:#f6f7f9;
            box-sizing: border-box;
            box-shadow: inset 2px 2px 15px 0 rgba(55, 99, 170, 0.11), -8px -8px 20px 0 #fff;
            // width: 100%;
            .DateLiTitle{
                height:30px;
                // font-weight: bold;
                // font-size: 14px;
                user-select: none;
                color:#98a3b7;
                display:flex;
                justify-content: center;
                align-items: center;
                margin:6px;
                margin-top:-10px;
                font-weight: bold;
                padding:10px;
                .DateThoughtNumber{
                    font-size:12px;
                    color:#fff;
                    border-radius:3px;
                    padding:2px 5px;
                    color:#ccc;
                    user-select: none;
                    font-weight: normal;
                }
            }
            .CurrentDateList{
                width:100%;
                display:flex;
                flex-direction: row;
                flex-direction: column;
                flex-wrap: wrap;
            }
            .ThougthLi{
                padding:10px;
                border-radius:6px;
                margin-bottom:10px;
                display:flex;
                width:100%;
                box-sizing: border-box;
                flex-grow: 1;
                // background:#fff;
                transition: all 0.25s;
                &:hover{
                    border-color: @mainColor;
                }
                .ThoughtMain{
                    flex-grow: 1;
                    display:flex;
                    flex-direction: column;
                    .ThoughtText{
                        font-size:15px;
                        color:#252525;
                        white-space: pre-wrap;
                        letter-spacing: 0.1px;
                        font-family: caner;
                        flex-grow: 1;
                        line-height: 1.5em;    
                        &::selection{
                            background:@mainColor;
                            color:#fff;
                        }
                    }
                    .ThoughtDetails{
                        flex-shrink: 0;
                        display:flex;
                        font-family: caner;
                        .ThoughtEmotion{
                            padding-right:8px;
                            height:20px;
                            cursor: pointer;
                            color:#999;
                            border-radius:26px;
                            font-size:12px;
                            margin-right: 6px;
                            user-select: none;
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            border-color:@mainColor;
                            color:#fff;
                            color:@mainColor;
                            line-height: 20px;
                        }
                        .thou_time{
                            flex-grow: 1;
                            line-height: 20px;
                            font-size:12px;
                            color:#999;
                            font-family: caner;
                            user-select: none;
                        }
                        .DestoryThought{
                            border:none;
                            flex-shrink: 0;
                            border-radius:4px;
                            background:rgba(255, 0, 0,0.5);
                            color:#fff;
                            transition:all 0.25s;
                            cursor: pointer;
                            width:40px;
                            height:20px;
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            display: none;
                            font-family: caner;
                            user-select: none;
                            font-size:12px;
                            &:hover{
                                background:rgba(255, 0, 0,1);
                            }
        
                        }
                    }
                }
                &:hover{
                    .DestoryThought{
                        display: flex !important;
                    }
                }


            }
        }

    }
}
.NullBlockTip{
    width:100%;
    height: 100%;
    flex-grow: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#98a3b7;
    font-size:20px;
    user-select: none;
    flex-direction: column;
    opacity: 0.3;
    i{
        font-size:100px;
        margin-bottom:10px;
    }
    
  }