#AffairPage{
    max-width: 1000px;
    padding-top:40px;
    margin:0 auto;
}
.EnterBlock{
    width:100%;
    max-width: 600px;
    margin:0 auto;
    display:flex;
    .NewBlock{
        height:85px;
        flex-grow: 1;
        background-color:#fff;
        border-radius:4px;
        display:flex;
        flex-direction: column;
        padding:10px;
        box-sizing: border-box;
        border:1px solid #e5e9ef;
        transition:all 0.25s;
        &:hover{
            border-color:#00a1d6;
        }
        &:focus{
            border-color:#00a1d6;
        }
        .NewBlockName,
        .NewBlockDescribe{
            border:none;
            outline: none;
            background:transparent;
            color:#fff;
            color:#00a0d6;
        }
        .NewBlockName::placeholder,
        .NewBlockDescribe::placeholder{
            color:#eee;
            color:#00a0d633;
        }
        .NewBlockName{
            height:30px;
            flex-grow: 1;
            // margin-bottom:10px;
            font-size:30px;
            font-weight: bold;
            // background:tr
            // height:1
        }
        .NewBlockDescribe{
            flex-shrink: 0;
            height:20px;
            font-size:15px;
        }
    }
    .AddButton{
        width:60px;
        height:80px;
        button{
            width:100%;
            height:100%;
            background:transparent;
            border-radius:8px;
            color:tomato;
            border:none;
            font-size:46px;
            display:flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            opacity: 0.65;
            transition:all 0.25s;
            &:hover{
                opacity: 1;
            }
        }
    }
}
.MyAffair{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    margin-top:40px;
    .AffairLi{
        margin:5px;
        padding:5px;
        border-radius: 4px;
        background:#fff;
        border:1px solid #e5e9ef;
        width:30%;
        flex-grow: 1;
        .AffairLiName{
            font-size:18px;
            color:#00a0d6;
            // font-weight: bold;
        }
        .AffairLiDescribe{
            font-size:12px;
            color:#00a0d699;
        }
    }
}
